window {
    border-radius: 15px;
    border: 4px solid rgba(26, 25, 26, 0.1);
    background-color: rgba(26, 25, 26, 0.005);
    font-family: "FiraCode Nerd Font";
    font-size: 22.5px;
    color: #262527;
}

.circle-condition-text {
    font-size: 15px;
    margin-top: 2.5px;
}

.main-box {
    margin: 20px;
}

.time {
    font-size: 100px;
}

.inner-circle {
    color: transparent;
}

.outer-circle {
    background: rgba(26, 25, 26, 0.1);
}