@define-color cc-bg #262527;

@define-color noti-border-color   #363537;
@define-color noti-bg             #262527;
@define-color noti-bg-darker      #262527;
@define-color noti-bg-hover       #262527;
@define-color noti-bg-focus       #262527;
@define-color noti-close-bg       transparent;
@define-color noti-close-bg-hover #363537;

@define-color text-color #F7F1FF;
@define-color text-color-disabled #69676C;

@define-color bg-selected #4ECA69;

.notification {
  font-family: 'FiraCode Nerd Font';
  border-radius: 15px;
  box-shadow: none;
  border: 3px solid @noti-border-color;
}

.notification-content {
  padding: 5px 8px;
}

.notification-row:first-child {
  margin-top: 7px;
}

.notification-row:focus,
.notification-row:hover,
.blank-window {
  background: transparent;
}

.control-center {
  font-family: 'FiraCode Nerd Font';
}

.control-center-list-placeholder {
  opacity: 0.8;
}

.time {
  font-size: 15px;
  background: transparent;
  margin-right: 15px;
}

.widget-title {
  margin: 20px 15px 5px 15px;
  font-size: 30px;
}
.widget-title > button {
  font-size: 15px;
  background: transparent;
  border: none;
  border-radius: 10px;
}
.widget-title > button:hover {
  background: @noti-close-bg-hover;
}

.widget-mpris-player {
  padding: 8px;
  margin: 15px 10px 0px 10px;
}

.notification-default-action,
.notification-action {
  border: none;
}

.notification-action {
  border-top: 3px solid @noti-border-color;
}

.notification-action:not(:last-child) {
  border-right: 3px solid @noti-border-color;
}

.notification-action:first-child {
  border-bottom-left-radius: 18px;
}

.notification-action:last-child {
  border-bottom-right-radius: 18px;
}