hardware-configuration.nix

nix-update/last-run-date

# ulaunhcer
ulauncher/ext_preferences
ulauncher/extensions.json
ulauncher/user-themes/mytheme/generated.css

# other awesome themes
awesome/themes/*/
!awesome/themes/mytheme
!awesome/themes/mytheme/*
