nix/update/last-run-date

# device specific configuration
nix/secrets.nix
nix/extra-config.nix
nix/hardware-configuration.nix
hyprland/extra-config.conf
wallpapers/other

# other awesome themes
awesome/themes/*/
!awesome/themes/mytheme
!awesome/themes/mytheme/*
