[submodule "modules/awesome/lain"]
	path = modules/awesome/lain
	url = https://github.com/lcpz/lain.git
[submodule "modules/awesome/freedesktop"]
	path = modules/awesome/freedesktop
	url = https://github.com/lcpz/awesome-freedesktop.git
