window {
    border-radius: 15px;
    border: 4px solid rgba(255, 255, 255, 0.05);
    background-color: rgba(26, 25, 26, 0.15);
    font-family: "JetBrainsMonoNL Nerd Font";
    font-size: 22.5px;
    color: #F7F1FF;
}

.circle-condition-text {
    font-size: 15px;
    margin-top: 2.5px;
}

.main-box {
    margin: 20px;
}

.time {
    font-size: 100px;
}

.inner-circle {
    color: transparent;
}

.outer-circle {
    background: rgba(255, 255, 255, 0.2);
}

/* background of sound bar */
progressbar trough {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 10px;
  min-height: 7px;
}

/* active part of sound bar */
progressbar progress {
  background-color: #F7F1FF;
  border: none;
  border-radius: 10px;
  min-height: 7px;
}
