* {
    /* main border background */
    --zen-main-browser-background: var(--zenix-glass-background) !important;
    /* shadow around webview container */
    --zen-big-shadow: transparent !important;
    /* right and bottom margin of webview container */
    --zen-element-separation: 0px;
}

@media (prefers-color-scheme: dark) {
    /* make webview container truly transparent (only visible on startup) */
    browser[transparent="true"] {
        background: transparent !important;
    }

    /* url bar background when not floating/extended */
    #urlbar:not([zen-floating-urlbar="true"]):not([breakout-extend="true"]) #urlbar-background {
        background: transparent !important;
    }

    /* pinned extension icons */
    .toolbarbutton-1.panel-no-padding.webextension-browser-action.unified-extensions-item-action-button {
        filter: grayscale(0.75);
    }

    /* bookmark button in url bar */
    #star-button-box,
    /* reader mode button in url bar */
    #reader-mode-button,
    /* workspace indicator */
    .zen-current-workspace-indicator
    {
        display: none !important;
    }

    /* selected item of url bar suggestions */
    .urlbarView-row[selected] {
        background: var(--urlbarView-highlight-background) !important;
        /* icon of the item */
        & .urlbarView-favicon {
            /* values copied from other zen-browser fallback values */
            fill: currentColor !important;
            background: color-mix(in srgb, var(--zen-branding-bg-reverse) 5%, transparent 95%) !important;
        }
    }

    /***** override zenix theming value with default zen-browser value *****/
    /* toolbar buttons (like extensions-button) */
    toolbar .toolbarbutton-1 {
        &:not([disabled]) {
            &:is([open], [checked])> :is(.toolbarbutton-icon, .toolbarbutton-text, .toolbarbutton-badge-stack) {
                fill: var(--toolbarbutton-icon-fill);
            }
        }
    }
}