# this file is for device-specific configuration.
# the following is some example content you might want to configure.
# the variables $first_monitor, $second_monitor and $second_monitor_config are
# actually used in the main config, so you should probably define them (like below).

#----- configure monitor setup
# https://wiki.hyprland.org/Configuring/Monitors/
# configuring monitors with "bitdepth, 10" can help with screenshare, but can also cause issues for screenshot/screenshare, try it out yourself.
# see https://gist.github.com/PowerBall253/2dea6ddf6974ba4e5d26c3139ffb7580?permalink_comment_id=4720563#gistcomment-4720563
# and https://github.com/hyprwm/Hyprland/issues/4791

$second_monitor = HDMI-A-1
$second_monitor_config = $second_monitor, 1920x1080@144, 0x100, 1#, bitdepth, 10
monitor = $second_monitor_config
workspace = $second_monitor, 1 # hyprsome

$first_monitor = DP-1
monitor = $first_monitor, 2560x1440@144, 1920x0, 1#, bitdepth, 10
workspace = $first_monitor, 11 # hyprsome

#----- environment variables
# for nvidia gpu
env = XCURSOR_SIZE,32
env = LIBVA_DRIVER_NAME,nvidia
env = XDG_SESSION_TYPE,wayland
env = GBM_BACKEND,nvidia-drm
env = __GLX_VENDOR_LIBRARY_NAME,nvidia
env = WLR_NO_HARDWARE_CURSORS,1

#----- input settings
input {
	sensitivity = -0.7
	touchpad {
        scroll_factor = 1.0
        natural_scroll = false
    }
}